* {
    box-sizing: border-box;
  }

  body {
    background-image: url(./images/newWoodBackground2.jpg);
    background-size: 100%;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }

  .slide-container {
    height: 72vh;
    display: flex;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    display: inline-block;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vh;
    width: 12.25vw;
    padding: 2.2%;
    overflow: hidden;
    border: 2px solid black;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    font-size: 5vh;
  }

  .prev {
    margin-right: .5%;
  }

  .next {
    margin-left: .5%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  #landscapePrev,
  #landscapeNext {
    display: inline-block;
  }

  #portraitPrev,
  #portraitNext {
    display: none;
  }
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: .5% 8%;
    color: white;
    margin: .5% 0;
    font-family: monospace;
  }

  #rowContainer {
    display: flex;
  }

  .button-container {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 1% 8%;
  }

  #caption{
    margin: .1% 0;
  }

  .row {
    height: 15vh;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .row::-webkit-scrollbar {
    display: none;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    display: inline-block;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vh;
    width: 10vw;
    overflow: hidden;
    border: 2px solid black;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  img{
    border-radius: 5%;
    box-shadow: 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5), 1px 1px 30px rgb(0, 0, 0, .5);
  }

  .title-card {
    text-align: center;
    color: antiquewhite;
    font-size: 3vh;
    margin: 15% auto auto auto;
    font-family: monospace;
  }

  #p1 {
    max-width: 45%;
  }

  #p2 {
    max-width: 32%;
  }

  #p3 {
    max-width: 38%;
  }

  #p4 {
    max-width: 42%;
  }

  #p5 {
    max-width: 32%;
  }
  
  #p6 {
    max-width: 30%;
  }

  #p7 {
    max-width: 39%;
  }

  #p8 {
    max-width: 44%;
  }

  #p9 {
    max-width: 38%;
  }

  #p10 {
    max-width: 45%;
  }

  #p11 {
    max-width: 31%;
  }

  #p12 {
    max-width: 39%;
  }

  #p13 {
    max-width: 39%;
  }

  #p14 {
    max-width: 53%;
  }

  #p15 {
    max-width: 43%;
  }

  #p16 {
    max-width: 67%;
  }

  #p17 {
    max-width: 54%;
  }

  #p18 {
    max-width: 61%;
  }

  #p19 {
    max-width: 35%;
  }

  #p20 {
    max-width: 35%;
  }

  #p21 {
    max-width: 30%;
  }

  #p22 {
    max-width: 33%;
  }

  #p23 {
    max-width: 98%;
  }

  #p24 {
    max-width: 70%;
  }

  @media screen and (orientation:portrait){

    #landscapePrev,
    #landscapeNext {
      display: none;
    }

    .prev {
      margin-right: 0;
    }
  
    .next {
      margin-left: 0;
    }

  #portraitPrev,
  #portraitNext {
    display: inline-block;
  }

    .slide-container {
        height: 28vh;
      }

      .caption-container {
        padding-top: 1%;
      }

      .row {
        white-space: wrap;
        height: fit-content;
      }

      .column, 
      .prev,
      .next {
        height: 8vh;
        width: 23vw;
      }

      .prev,
      .next {
        text-align: center;
        width: 11vw;
        padding: 2vh 0;
        font-size: 3vh;
      }

      .title-card {
        font-size: 2vh;
      }

      span{
        font-size: 1.5vh;
      }

      #p1 {
        max-width: 83%;
      }
    
      #p2 {
        max-width: 56%;
      }
    
      #p3 {
        max-width: 67%;
      }
    
      #p4 {
        max-width: 72%;
      }
    
      #p5 {
        max-width: 58%;
      }
      
      #p6 {
        max-width: 55%;
      }
    
      #p7 {
        max-width: 69%;
      }
    
      #p8 {
        max-width: 78%;
      }
    
      #p9 {
        max-width: 68%;
      }
    
      #p10 {
        max-width: 82%;
      }
    
      #p11 {
        max-width: 56%;
      }

      #p12 {
        max-width: 70%;
      }

      #p13 {
        max-width: 69%;
      }

      #p14 {
        max-width: 90%;
      }

      #p15 {
        max-width: 76%;
      }

      #p16 {
        max-width: 97%;
      }

      #p17 {
        max-width: 94%;
      }

      #p18 {
        max-width: 94%;
      }

      #p19 {
        max-width: 63%;
      }
    
      #p20 {
        max-width: 65%;
      }
      #p21 {
        max-width: 55%;
      }

      #p22 {
        max-width: 60%;
      }

      #p23 {
        max-width: 98%;
      }

      #p24 {
        max-width: 98%;
      }
  }